@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$search-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($search-typography);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-weight: normal;
    margin: 0;
    background: #F2F2F2;
    font-family: mat-font-family($search-typography);
    height: 100vh;
}

#parent-container {
   display: grid;
   grid-template-columns: 90px auto;
   height: 100%;

   #content {
       padding: 30px 50px;

       ul {
           list-style-type: none;
           margin:0;
           padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}
