@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@include mat-core();

$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-blue, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$search-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($search-typography);

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

body {
    font-weight: normal;
    margin: 0;
    background: #F2F2F2;
    font-family: mat-font-family($search-typography);
    height: 100vh;
}

